!!! 5
%html{ lang: "en" }

  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    %title Support Th3Shadowbroker

    %link{ rel: "stylesheet", type: "text/css", href: "css/style.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "css/all.min.css" }

    %script{ src: "js/jquery.min.js" }
    %script{ src: "js/popper.min.js" }
    %script{ src: "js/bootstrap.min.js" }

    %script{ src: "js/script.min.js" }

  %body
    %div.container-fluid
      %header
        %h2.title Th3Shadowbroker
        %h4.subtitle Developer of things

      %div.content.text-center.align-middle
        %h3 Thank you for considering supporting me!

        %div.container

          %div.row.justify-content-center

            %div.col-sm.patreon
              %h4 Patreon
              %i.fab.fa-patreon.brand-logo
              %div
                Patreon is a platform to support your favourite creators.
                You can cancel your subscription at any time!
              %button{ class: "btn btn-dark" } Become a patron

            %div.col-sm.ko-fi
              %h4 Ko-fi
              %img.brand-logo-img{ type: "image/png", src: "img/ko-fi-logo.png" }
              %div
                Want to buy me a coffee? Then Ko-fi is the best place to do so.
              %button{ class: "btn btn-dark" } Buy me a cofee

            %div.col-sm.github-sponsors
              %h4 GitHub Sponsors
              %i.fab.fa-github.brand-logo
              %div
                GitHub sponsors offers the possibility of monthly support similar to patreon.
              %button{ class: "btn btn-dark" } Support me on GitHub

            %div.row.justify-content-center

          %div.row.justify-content-center
            %div.col
              Don't forget to join my&nbsp;
              %a{ target: "_blank", href: "https://discord.com/invite/JyCsNy2" } Discord
              &nbsp; and let me know if you sent me a tip to get the matching rank!

    %footer
      Made with
        %span{role: "img", aria-label: "heart"}💜
        and
        %span{role: "img", aria-label: "coffee"}☕
