@import url("https://use.typekit.net/khu8qai.css");
@import "node_modules/bootstrap/scss/bootstrap.scss";

body {

  header {

    .title {
      margin: 0 0;
      font-size: 40px;
      font-weight: lighter;
      font-family: fredericka-the-greatest, serif;
      text-align: center;
    }

    .subtitle {
      font-weight: lighter;
      font-family: fredericka-the-greatest, serif;
      text-align: center;
    }

  }

  .content {
    margin: 10px;
    text-align: center;

    .card {
      width: 250px;
      box-shadow: black 1px 1px 1px;
    }

    .brand-logo {
      font-size: 72px;
    }

    .brand-logo-img {
      height: 72px;
    }

    .patreon,
    .ko-fi,
    .github-sponsors {
      .btn {
        margin: 15px;
      }

      div {
        height: 80px;
      }
    }

  }

  footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    color: grey;
    background: white;
  }

  a, a:hover {
    text-decoration: none;
  }

}
